.wrapper {
  text-align: center;
  display: inline-block;
  background-image: url("Planet_express.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-size: 50%;
}

@media only screen and (min-width: 1600px) {
  .wrapper {
    text-align: center !important;
    width: 80%;
    display: inline-block;
  }
}
